// ────────────── Output Configuration ──────────────
// You can run `niri msg outputs` to get the correct name for your displays.
// You will have to remove "/-" and edit it before it takes effect.
// https://github.com/YaLTeR/niri/wiki/Configuration:-Outputs

output "HDMI-A-1" {
    mode "1920x1080@100.000"
    position x=0 y=0
    scale 1
}
output "DP-1" {
    mode "2560x1080@74.991"
    position x=1920 y=0
    scale 1
}
